.formSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
}

.pageTitle {
  font-size: 1.5rem;
  color: var(--text);
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.newGroupPageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}