.button {
  background-color: var(--highlight);
  color: var(--text-inverse);
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  transition: filter 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button:hover {
  filter: brightness(1.1);
}