.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
  
  background-color: var(--foreground);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px var(--background);

  border: 1px solid var(--border);
  border-radius: 1rem;
}

.title {
  font-size: 2rem;
  line-height: 0.9;
  font-weight: bold;
  text-align: center;
  color: var(--text);
  user-select: none;
}

.subfooter {
  font-size: 0.75rem;
  color: var(--text-alt);
  user-select: none;
}

.infoMessage, .returnMessage {
  font-size: 1rem;
  color: var(--text);
  text-align: center;
  user-select: none;
}

.returnMessage {
  width: 100%;
  color: var(--text-alt);
  font-size: 0.875rem;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.errorMessage {
  color: var(--text-alt);
  font-size: 0.875rem;
  text-align: center;
}

.returnMessage:hover {
  color: var(--highlight);
}

@media (min-width: 1024px) {
  .loginContainer {
    width: 50%;
  }
}