.groupContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.groupNameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.groupName {
  font-size: 24px;
  font-weight: bold;
}

.groupSubheader {
  font-size: 0.875rem;
  font-style: italic;
  color: var(--text-alt);
}

.groupTopBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inviteLinkContainer {
  width: 300px;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  /* text no wrap */
  white-space: nowrap;
  overflow-x: auto;
  padding: 0.75rem;
}

.inviteLinkDisplay {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inviteLinkLabel {
  color: var(--text-alt);
}

.inviteLinkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid var(--highlight);
  border-radius: 0.5rem;
  background-color: var(--highlight);
  color: var(--text-inverse);
  cursor: pointer;
}