.groupsPageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.createGroupButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: var(--highlight);
  color: var(--text-inverse);
  border: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  margin-left: auto;
}

.groupsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  max-height: 70vh;
  padding: 0;
}

.groupCard {
  flex: 0 0 auto;
  background-color: var(--surface);
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.375rem;
  box-shadow: var(--shadow);
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 300px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.groupCard:hover {
  box-shadow: var(--shadow-hover);
  border: 1px solid var(--highlight);
}

.groupCardSplit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.groupName {
  font-size: 1.25rem;
  color: var(--text);
  letter-spacing: 0.25px;
  font-weight: 600;
}

.groupTimeLeft {
  font-size: 0.875rem;
  color: var(--text-alt);
}

.groupMembers {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--text-inverse);
  background-color: var(--highlight);
  width: fit-content;
}

@media (min-width: 1024px) {
  .groupsList {
    padding: 0.5rem;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .groupCard {
    width: calc(100% / 2 - 0.5rem);
  }

  .groupCard:hover {
    transform: scale(1.01);
  }
}