@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colour scheme layout */
  --background: #fafafa;
  --foreground: #ffffff;
  --highlight: #6259e2;
  --highlight-hover: #4b43b1;
  --border: #e5e5e5;
  --text: #0a0a0a;
  --text-alt: #8b8b8b;
  --text-inverse: #f0f0f0;


  /* Error / Success Messages */
  
  /* Navigation */
  --navigation-height: 60px;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.content-container {
  min-height: calc(100vh - var(--navigation-height));
}

.link {
  color: var(--highlight);
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--highlight-hover);
}


@media (min-width: 1024px) {
  .app-container {
    width: 800px;
    padding: 0;
  }
}
