@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colour scheme layout */
  --background: #0a0a0a;
  --foreground: #ededed;
  /* Buttons */

  /* Error / Success Messages */
  
  /* Navigation */
  --navigation-height: 60px;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 800px;
  margin: 0 auto;
}

.content-container {
  min-height: calc(100vh - var(--navigation-height));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
